*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:90px;
}


body{

    min-height:100vh;

    background:linear-gradient(135deg,#667eea,#764ba2);

    padding:20px;

}


.container{

    max-width:650px;

    margin:auto;

}



.card{

    background:white;

    padding:20px;

    margin-top:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

}



h1{

    color:#1877f2;

    margin-bottom:15px;

}



.card p{

    color:#555;

    margin-bottom:25px;

}



input{

    width:100%;

    padding:15px;

    border-radius:12px;

    border:2px solid #ddd;

    font-size:16px;

    outline:none;

}



input:focus{

    border-color:#1877f2;

}



button{

    width:100%;

    margin-top:15px;

    padding:15px;

    background:#1877f2;

    color:white;

    border:none;

    border-radius:12px;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

}



button:hover{

    background:#0d65d9;

}



button:disabled{

    background:#999;

}



#loader{

    display:none;

    margin-top:20px;

    color:#1877f2;

    font-weight:bold;

}



#result{

    margin-top:20px;

    padding:15px;

    border-radius:10px;

}



.ad-container{

    background:white;

    margin-top:20px;

    padding:20px;

    border-radius:15px;

    text-align:center;

}



.info{

    background:white;

    margin-top:20px;

    padding:20px;

    border-radius:15px;

}



.info h2{

    margin-bottom:15px;

}



.info p{

    margin:10px 0;

}



footer{

    text-align:center;

    color:white;

    margin-top:30px;

    font-size:14px;

}



footer a{

    color:white;

    margin:0 8px;

    text-decoration:none;

}



footer a:hover{

    text-decoration:underline;

}



/* Mobile */

@media(max-width:500px){

    .card{

        padding:20px;

    }


    h1{

        font-size:25px;

    }

  }
.subtitle{
font-size:18px;
color:#555;
margin-bottom:20px;
}

.platforms{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
margin:20px 0;
}

.platforms span{
background:#1877f2;
color:white;
padding:8px 15px;
border-radius:20px;
font-size:14px;
font-weight:bold;
}

.features{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
margin-bottom:25px;
}

.features span{
background:#f3f3f3;
padding:8px 15px;
border-radius:20px;
font-size:14px;
font-weight:bold;
color:#333;
}

#downloadBtn{
font-size:18px;
transition:.3s;
}

#downloadBtn:hover{
transform:scale(1.03);
}

.card{
animation:fadeUp .8s ease;
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}
